@use './variables.scss' as *;

.list_film {
    height: calc(70vh / 2);
    width: 100%;
}

.flip-card {
    width: 100%;
    height: 100%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: $color-netflix-lg-dark;
    color: $color-netflix-white;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }


}

.flip-card-back {
    background-image: linear-gradient(to bottom, $color-netflix 1rem, $color-netflix 3rem, $color-netflix-dark 100%, $color-netflix-dark 100%);
    color: $color-netflix-white;
    transform: rotateY(180deg);

    .eb_language img {
        width: 2rem;
    }

}